<form action="/user" method="post">
  <input type="text" name="name">
  <input type="number" name="age">
  <input type="submit" value="Send">
</form>

{{#if products.length}}
{{#each products}}
<h2>Product {{title}}</h2>
<p>price {{price}} </p>
{{/each}}
{{else}}
<h2>NO HAY PRODUCTOS REGISTRADOS</h2>
{{/if}}