<div>
    <form>
        <input type="text" name="title" id="title">
        <input type="number" name="price" id="price">
        <input type="submit" value="Send" id="button">
    </form>

    <div class="productList">
        {{#if products.length}}
        {{#each products}}
        <h2 class="h2">Product {{title}}</h2>
        <p class="p">price {{price}} </p>
        {{/each}}
        {{else}}
        <h2>NO HAY PRODUCTOS REGISTRADOS</h2>
        {{/if}}
    </div>




    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</div>
